project_id = "oavauprgngpftanumlzs"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[realtime]
enabled = true

[storage]
enabled = true

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 604800
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10

[functions]
timeout_seconds = 30

[functions.get-openai-key]
verify_jwt = true

[functions.brevo-email-confirmation]
verify_jwt = false

[functions.process-payment]
verify_jwt = true

[functions.send-notification-email]
verify_jwt = false

[functions.ai-tutor]
verify_jwt = false

[functions.flutterwave-callback]
verify_jwt = false

[functions.flutterwave-payment]
verify_jwt = true

[functions.generate-challenge-questions]
verify_jwt = true

[functions.process-challenge-result]
verify_jwt = true

[functions.send-challenge-notification]
verify_jwt = true

[functions.ai-study-assistant]
verify_jwt = false

[functions.generate-ai-questions]
verify_jwt = false
